<%@page_title = "Main"%>

<div id="systemInformation" class="mainAction">
	<ul>
		<li><span class="systemStatCat">CPU Model:</span> <%=@system_stats[0]%></li>
		<li><span class="systemStatCat">CPU Cores:</span> <%=@system_stats[1]%></li>
		<li><span class="systemStatCat">Memory:</span> <%=((@system_stats[2].to_f / 1024) / 1024).round(1)%>GB</li>
		<li><span class="systemStatCat">HD Capacity:</span> <%=(@system_stats[3].to_f / 1000000).round(1)%>GB</li>
		<li><span class="systemStatCat">HD Space Used:</span> <%=(@system_stats[4].to_f / 1000000).round(1)%>GB - <%=@drive_percent_used%>%</li>
	</ul>
</div>