<%@page_title = "Main"%>

<div id="systemInformation" class="mainAction">
	<p>Compensato is designed to help you troubleshoot a variety of computer issues from a virus infection 
		to hardware isssues. Most of the functions are Windows focused, but many of them are platform 
		agnostic and can be used on any computer (like the partition resizing and file copy). Each page will 
		have a "Usage Tip" to help you get familiar with the program.</p>

	<ul>
		<li><span class="systemStatCat">CPU Model:</span> <%=@system_stats[:cpu_model]%></li>
		<li><span class="systemStatCat">CPU Cores:</span> <%=@system_stats[:cpu_cores]%></li>
		<li><span class="systemStatCat">Memory:</span> <%=((@system_stats[:mem_total].to_f / 1024) / 1024).round(1)%>GB</li>
		</br>
		
		<%if @system_stats[:hd_capacity].nil?%>
			<li>Auto-mount failed | <%=link_to " CLICK HERE to manually mount client drive", :controller => "disk_ops", :action => "new", :fileOpType => "manually_mount_drive"%></li>
		<%else%>
			<li><span class="systemStatCat">HD Capacity:</span> <%=(@system_stats[:hd_capacity].to_f / 1000000).round(1)%>GB</li>
			<li><span class="systemStatCat">HD Space Used:</span> <%=(@system_stats[:hd_space_used].to_f / 1000000).round(1)%>GB - <%=@drive_percent_used%>%</li>
			<li><span class="systemStatCat">Drive SMART Status:</span> <%=@system_stats[:smart_health]%></li>
		<%end%>
		
		</br>
		<li><span class="systemStatCat">IP Address:</span> <%=@system_stats[:ip_address]%></li>
	</ul>

	<div id="informationalDisplay">
		<h1>Usage Tip:</h1>
		<p>This screen displays general information about the system that Compensato is currently running on.
			If you seem to be having reliability issues the SMART status might be of particular note. It is a 
			diagnostic report from the drive itself.</p>

		<ul>
			<li><b>Healthy:</b> means everything tests out OK</li>
			<li><b>Pre-fail:</b> means that some part of the drive is operating out of spec. This doesn't 
				actually mean that something is about to fail though, just that a statistic thershold has 
				been crossed.</li>
			<li><b>Imminent failure:</b> means that the drive is most likely in the process of actively failing</li>
		</ul>
	</div>
</div>