<%@page_title = "Scan Results"%>

<%=form_tag(:action => "selected_files_log", :method => "get") do%>
	<%=submit_tag("Select files")%>
	<%for extension in @extensions%>
		<hr>
		<h3>.<%=extension.upcase%> files</h3>
		<hr>
		<ul>
			<%for log_line in @log_lines do%>
				<%if log_line.include?(".#{extension}")%>
					<li>
						<%f = File.open(log_line)%>
						<%= check_box_tag "selected_paths[]", log_line %> <%=f.mtime%> | <%=f.path.gsub("/media/compensato_client", "")%>
						<%f.close%>
					</li>
				<%end%>
			<%end%>
		</ul>
	<%end%>
	<%=hidden_field_tag(:extensions, @extensions)%>
	<%=hidden_field_tag(:scan_days, @scan_days)%>
	<%=submit_tag("Select files")%>
<%end%>