<%@page_title = "Scan Results"%>

<div id="fileOpChoice" class="mainAction">
	<h1><%=@page_title%></h1>
	
	<div id="external_action_load" style="display: none"></div>
	
    <div class="informationalDisplay">
    	<h1>Usage Tip:</h1>
		<p>This page lists all of the files (of the selected types) that have been modified in the 
			last <%=@scan_days%> days. Use the check boxes next any files that you think might look 
			suspicious and click the "Select files" button when you're done. The next page will 
			give you a nice isolated list of just those files for further examination. It will also 
			create a text log on the client's computer at C:\Compensato</p>
			
		<ul>	
			<li><b>Open in browser:</b> This will open the conatining folder of the selected file. Moving suspicious files to the (already created) 
				C:\Compensato\Quarantine folder on the client's	drive is a better choice than deleting them here because that can always be reversed</li>
		</ul>
	</div> 
</div>

<div id="fileScanResults" class="fileListOutput">
	<%=form_tag(:action => "selected_files_log", :method => "get") do%>
		<%=submit_tag("Select files")%>
		
		<%counter = 0%>
		<%for extension in @extensions%>
			<hr>
			<h3>.<%=extension.upcase%> files</h3>
			<hr>
			<ul>
				<%for log_line in @log_lines do%>
					<%if log_line.include?(".#{extension}")%>
						<%counter = counter + 1%>
						<li>
							<%f = File.open(log_line)%>
							<%= check_box_tag "selected_paths[]", log_line %> <%=f.mtime%> | <a href="#" id="open_in_browser_link_<%=counter%>">Open in browser</a> <%=f.path.gsub("/media/ubuntu/compensato_client", "")%>
							
							<script>
								load_action_in_hidden_div("open_in_browser_link_<%=counter%>", 
															"/file_ops/open_file_browser?full_path=<%=f.path.gsub(" ", "%20")%>", 
															"external_action_load");
							</script>
							
							<%f.close%>
						</li>
					<%end%>
				<%end%>
			</ul>
		<%end%>
		<%=hidden_field_tag(:extensions, @extensions)%>
		<%=hidden_field_tag(:scan_days, @scan_days)%>
		<%=submit_tag("Select files")%>
	<%end%>
</div>