<h3>Select from the folders below:</h3>

<ul>
	<%@browser_directories.each{|directory|%>
		<%base_dir_name = directory.path.gsub("/media/ubuntu/", "")%>
		
		<li><%=base_dir_name%> | <a href="#" id=<%="#{base_dir_name}_source_link"%>>Use as source</a> - <a href="#" id=<%="#{base_dir_name}_destination_link"%>>Use as destination</a></li>
		
		<script>
			document.getElementById("<%=base_dir_name + "_source_link"%>").onclick = function(){
					update_form_text_field("source_directory", "<%=directory.path%>");
				}
				
			document.getElementById("<%=base_dir_name + "_destination_link"%>").onclick = function(){
					update_form_text_field("destination_directory", "<%=directory.path%>");
				}
		</script>
	<%}%>
</ul>
