<h3>Select from the folders below:</h3>

<h5><%=@base_directory.gsub("/media/ubuntu", "")%></h4>

<%unless @base_directory == "/media/ubuntu"%>
	<a href="#" id="directory_up">Up...</a>
	
	<script>
		$("#directory_up").click(function(){
			folder_browser_refresh("<%=@previous_directory.gsub(" ", "%20")%>");
		})
	</script>
<%end%>

<%counter = 0%>

<ul>
	<%@browser_directories.each{|directory|%>		
		<%counter = counter + 1%>

		<li><a href="#" id="folder_link_<%=counter%>"><%=directory.path.split("/").last%></a></li>
		<li class="folderBrowserSubLinks"><a href="#" id="source_link_<%=counter%>">Use as source</a> | <a href="#" id="destination_link_<%=counter%>">Use as destination</a> | <%=link_to "Open in browser", {:action => "open_file_browser", :directory => directory.path}, :target => "_blank"%> </li>
		
		<%unless @browser_directories.size == 0%>
			<script>
				$("#folder_link_<%=counter%>").click(function(){
					folder_browser_refresh("<%=directory.path.gsub(" ", "%20")%>");
				})

				$("#source_link_<%=counter%>").click(function(){
					update_form_text_field("source_directory", "<%=directory.path%>");
				})

				$("#destination_link_<%=counter%>").click(function(){
					update_form_text_field("destination_directory", "<%=directory.path%>");
				})				
			</script>
		<%end%>
	<%}%>
</ul>
