<h3>Select from the folders below:</h3>

<h5><%=@base_directory.gsub("/media/ubuntu", "")%></h4>

<%unless @base_directory == "/media/ubuntu"%>
	<a href="#" id="directory_up">Up...</a>
	
	<script>
		document.getElementById("directory_up").onclick = function(){
					folder_browser_refresh("<%=@previous_directory.gsub(" ", "%20")%>");}
	</script>
<%end%>

<ul>
	<%@browser_directories.each{|directory|%>
		<%@base_directory = directory.path.gsub("/media/ubuntu/", "")%>
		
		<li><a href="#" id="<%=@base_directory.gsub(" ", "%20")%>_folder_link"><%=@base_directory.split("/").last%></a></li>
		<li class="folderBrowserSubLinks"><a href="#" id=<%="#{@base_directory.gsub(" ", "%20")}_source_link"%>>Use as source</a> | <a href="#" id=<%="#{@base_directory.gsub(" ", "%20")}_destination_link"%>>Use as destination</a></li>
		
		<%unless @browser_directories.size == 0%>
			<script>
				document.getElementById("<%=@base_directory.gsub(" ", "%20") + "_folder_link"%>").onclick = function(){
						folder_browser_refresh("<%=directory.path.gsub(" ", "%20")%>");}
			
				document.getElementById("<%=@base_directory.gsub(" ", "%20") + "_source_link"%>").onclick = function(){
						update_form_text_field("source_directory", "<%=directory.path%>");}
						
				document.getElementById("<%=@base_directory.gsub(" ", "%20") + "_destination_link"%>").onclick = function(){
						update_form_text_field("destination_directory", "<%=directory.path%>");}
			</script>
		<%end%>
	<%}%>
</ul>
