<%@page_title = "New File Scan"%>

<div id="fileOperation" class="mainAction">
	<%if @file_op_type == "file_scan"%>

		<%=form_tag(:action => "file_scan", :method => "get") do%>
			<%=label_tag(:scan_days, "Number of days to scan:")%> <%=text_field_tag(:scan_days)%><br>
			<%= check_box_tag "selected_extensions[]", "exe", true %> .exe
			<%= check_box_tag "selected_extensions[]", "cmd", true %> .cmd
			<%= check_box_tag "selected_extensions[]", "bat", true %> .bat
			<%= check_box_tag "selected_extensions[]", "sys", true %> .sys
			<%= check_box_tag "selected_extensions[]", "drv", true %> .drv
			<%= check_box_tag "selected_extensions[]", "class", true %> .class
			<%= check_box_tag "selected_extensions[]", "dll", true %> .dll<br>
			<%=submit_tag("Begin scan...")%>
		<%end%>

	<%elsif @file_op_type == "file_copy"%>

		<%@page_title = "Copy user data"%>

		<%=form_tag(:action => "copy_user_data", :method => "get") do%>
			<p>Select source directory:</p>
			<p><%=text_field_tag(:source_directory)%></p>

			<p>Select destination directory:</p>
			<p><%=text_field_tag(:destination_directory)%></p>

			<%=submit_tag("Start data copy")%>
		<%end%>

	<%elsif @file_op_type == "clean_temp_files"%>

		<h2>Temp files total: <%=((@temp_files_size.to_f / 1024) / 1024).round(2)%> GB</h2>
		<%=link_to "CLICK HERE to clean all temp files on the system", :action => "clean_temp_files"%>

	<%elsif @file_op_type == "edit_partitions"%>

		<h2>Partition editor will open in a seperate window</h2>	

	<%elsif @file_op_type == "disk check"%>

		<h2>A disk check has been scheduled on the client's Windows partition. It will execute automatically the next time the computer is rebooted</h2>

	<%end%>
</div>