<%@page_title = "New File Scan"%>

<%if @file_op_type == "file_scan"%>

	<%=form_tag({:action => "file_scan", :method => "get"}, {:onsubmit => "file_scan_progress_indicator()"}) do%>
		<%=label_tag(:scan_days, "Number of days to scan:")%> <%=text_field_tag(:scan_days)%><br>
		<%= check_box_tag "selected_extensions[]", "exe", true %> .exe
		<%= check_box_tag "selected_extensions[]", "cmd", true %> .cmd
		<%= check_box_tag "selected_extensions[]", "bat", true %> .bat
		<%= check_box_tag "selected_extensions[]", "sys", true %> .sys
		<%= check_box_tag "selected_extensions[]", "drv", true %> .drv
		<%= check_box_tag "selected_extensions[]", "dll", true %> .dll<br>
		<%=submit_tag("Begin scan...")%>
	<%end%>

<%elsif @file_op_type == "file_copy"%>

	file copy

<%end%>

<span id="file_scan_progress_indicator"></span>