<%@page_title = "Selected Files Log for the last #{@scan_days} days"%>

<div id="fileOpChoice" class="mainAction">
    <div class="informationalDisplay">
    	<h1>Usage Tip:</h1>
		<p>This is a list of just the files that you thought were suspicious from the previous 
			screen. A copy of this log has been saved on the client's drive at <b>C:\Compensato</b></p>
			
		<ul>	
			<li><b>Open in browser:</b> This will open the conatining folder of the selected file. Moving suspicious files to the (already created) 
				C:\Compensato\Quarantine folder on the client's	drive is a better choice than deleting them here because that can always be reversed</li></br>
				
			<li><b>Files modified on this date:</b> This will display a complete log of all files, of any type, that have been modified on the same date as the selected file.
				This can be very useful in determining the system-wide scale of an infection.</li>
		</ul>
	</div> 
</div>

<div id="selectedFilesLog" class="fileListOutput">
	<%=form_tag(:action => "selected_files_log", :method => "get") do%>
		<%for extension in @extensions do%>
			<hr>
			<h4>.<%=extension.upcase%> files</h4>
			<hr>
			<ul>
				<%for selected_file_object in @selected_file_objects%>
					<%if selected_file_object.path.include?(".#{extension}")%>
						<li>
							<%=selected_file_object.mtime%> | <%=link_to "Open in browser", :action => "open_file_browser", :full_path => selected_file_object.path%> - <%=link_to "Files modified on this date", :action => "all_files_modified_on_date", :start_date => selected_file_object.mtime.to_s[0..9], :selected_file_name => File.basename(selected_file_object)%> <%=selected_file_object.path.gsub("/media/ubuntu/compensato_client", "")%>
						</li>
					<%end%>
				<%end%>
			</ul>
		<%end%>
	<%end%>
</div>