<%@page_title = "Selected Files Log for the last #{@scan_days} days"%>

<div id="fileOpChoice" class="mainAction">
	<h1><%=@page_title%></h1>
	
    <div class="informationalDisplay">
    	<h1>Usage Tip:</h1>
		<p>This is a list of just the files that you thought were suspicious from the previous 
			screen. A copy of this log has been saved on the client's drive at <b>C:\Compensato</b></p>
			
		<div id="external_action_load" style="display: none"></div>
			
		<ul>
			<li><b>View Internet Explorer browser history:</b> This will display a list of user, and then ultimately their browsing history, in 
				Internet Explorer. This can be useful when coupled with the date and time information gathered below about hte start of the infection
				to help dteermine where the infection came from if it was encountered while usign IE.</li>
			
			<li><b>Open in browser:</b> This will open the conatining folder of the selected file. Moving suspicious files to the (already created) 
				C:\Compensato\Quarantine folder on the client's	drive is a better choice than deleting them here because that can always be reversed</li>
				
			<li><b>Files modified on this date:</b> This will display a complete log of all files, of any type, that have been modified on the same date as the selected file.
				This can be very useful in determining the system-wide scale of an infection.</li>
		</ul>
	</div>
</div>

<a href="#", id="view_ie_browser_history_link" class="selectedFilesLogHistoryLink">View Internet Explorer browser history</a>


<div id="selectedFilesLog" class="fileListOutput">
	<%=form_tag(:action => "selected_files_log", :method => "get") do%>
		<%counter = 0%>
		
		<%for extension in @extensions do%>
			<hr>
			<h4>.<%=extension.upcase%> files</h4>
			<hr>
			<ul>
				<%for selected_file_object in @selected_file_objects%>
					<%if selected_file_object.path.include?(".#{extension}")%>
						<%counter = counter + 1%>
					
						<li><%=selected_file_object.mtime%> | <a href="#" id="open_in_browser_link_<%=counter%>">Open in browser</a> - <%=link_to "Files modified on this date", :action => "all_files_modified_on_date", :start_date => selected_file_object.mtime.to_s[0..9], :selected_file_name => File.basename(selected_file_object)%> <%=selected_file_object.path.gsub("/media/ubuntu/compensato_client", "")%></li>
					
						<script>
							load_action_in_hidden_div("open_in_browser_link_<%=counter%>", 
														"/file_ops/open_file_browser?full_path=<%=selected_file_object.path.gsub(" ", "%20")%>", 
														"external_action_load");
						</script>
					
					<%end%>
				<%end%>
			</ul>
		<%end%>
	<%end%>
	
	<%for selected_file_object in @selected_file_objects%>
		<%selected_file_object.close%>
	<%end%>
</div>


<script>
	load_action_in_hidden_div("view_ie_browser_history_link", 
								"/file_ops/new?file_op_type=view_ie_browser_history", 
								"external_action_load",
								true);
</script>
