<!DOCTYPE html>
<html>
<head>
  <title>Compensato - <%=@page_title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1><%=link_to image_tag("main_logo.png", :class => "mainHeaderLogo"), :controller => "main", :action => "index"%></h1>

		<ul>
			<li><%= link_to "File Ops | ", :controller => "file_ops" %></li>
			<li><%= link_to "Disk Ops | ", :controller => "disk_ops" %></li>
			<li><%= link_to "Downloads | ", :controller => "downloads" %></li>
			<li><%= link_to "Diagnostics", :controller => "diagnostics" %></li>
		</ul>
		</br>
	</header>
	
	<%= yield %>

	<div id="footer">
		<%=link_to "Shutdown system", :controller => "main", :action => "system_shutdown"%>
	</div>
</body>
</html>
