<!DOCTYPE html>
<html>
<head>
  <title>Compensato - <%=@page_title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%=link_to image_tag("main_logo.svg", :width => 240, :height => 90, :class => "mainHeaderLogo"), :controller => "main", :action => "index"%>

		<div id="navigationMenu">
			<%unless @page_title == "Main"%>
				<a href="#" class="navBackLink" onclick="history.go(-1);return false"><< Go Back</a>
			<%end%>
			
			<ul>
				<li><%= link_to "File Ops", :controller => "file_ops" %></li>
				<li><%= link_to "Disk Ops", :controller => "disk_ops" %></li>
				<li><%= link_to "Downloads", :controller => "downloads" %></li>
				<li><%= link_to "Diagnostics", :controller => "diagnostics" %></li>
			</ul>
		</div>
	</header>
	
	<div id="mainContent">
		<%= yield %>
	</div>

	<div id="footer">
		<%=link_to "Shutdown system", :controller => "main", :action => "system_shutdown"%>
	</div>

	<script>
		$("#nav_back_link").click(function(event){
			go_back();
		})
	</script>
</body>
</html>
